* {
    font-size: 20px;
    font-weight: normal;
    font-family: Helvetica;
}

.primary {
    width: fit-content;
    height: 50px;
    background-color: #4A90E2;
    border: 0;
    border-radius: 0;
    color: white;
}

.primary:hover {
    background-color: #357ABD;
}

.primary:focus {
    background-color: #2C5A91;
    outline: none;
}

.secondary {
    width: fit-content;
    height: 50px;
    background-color: #5DADE2;
    border: 0;
    border-radius: 0;
    color: white;
}

.secondary:hover {
    background-color: #469AD1;
}

.secondary:focus {
    background-color: #3378A7;
    outline: none;
}