* {
    font-size: 20px;
    font-weight: normal;
    font-family: Helvetica;
    color: black;
}

.textbox {
    border: 2px solid #CCDCE8;
    background-color: #FFFFFF;
    height: 50px;
    border-radius: 8px;
    padding-left: 10px;
}

.textbox:hover {
    border: 2px solid #B3CDE0;
}

.textbox:focus {
    border: 2px solid #4A90E2;
    outline: none;
}

.textbox:disabled {
    background-color: #F0F6FA;
}